/* BACKGROUND */
html { 
  background: url(spaceandstars.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* BACKGROUND END */

/* MENU POSITION */
.navbar {
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%; 
}

.navbar a {
    float: left;
    display: block;
    color: white;    
    text-align: center;
    padding: 14px 16px;
    font-size: 120%;
    text-decoration: none;
    font-family: futura;

}
a:link {
    background-color: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    font-size: 125%;

}
/* MENU POSITION END */

/* INPUT BOX */
input[type=text] {
    position: absolute;
    top: 50px;
    left: 35px;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font: 16px futura; 
    color: white;
    background-color: transparent;
    padding: 10px 10px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    outline:none;
}

input[type=text]:focus {
    width: 36%;
    
}
/* INPUT BOX END */

.column {
    float: left;
    width: 31%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width:500px) {
    .column {
        width: 100%;
    }
}

/* FONT */
h1 {
    color: white;
    font-family: futura;
    font-size: 250%;
    text-align: center;
    border: white solid 5px;
    padding: 50px 0px;
    margin: 200px 400px;
}
.column {
    color: white;
    font-family: futura;
    font-size: 100%;
}

.placeholder {
    color: white;
    font: arial;
}
/* FONT END */

    

